:root {
  --color: linear-gradient(0.25turn, #36d1dc, #5b86e5);
  --color-main: linear-gradient(0.25turn, #5433ff, #20bdff, #a5fecb);
  --solo-color: #5433ff;
}

.nk1 {
  position: absolute;
  height: 25%;
  width: 25%;
  left: 89%;
  top: 75%;
  background: url(./img/abstract-119.png) no-repeat;
  background-size: contain;
  object-fit: cover;
  image-resolution: 50% 50%;
}

.nk2 {
  position: absolute;
  height: 20%;
  width: 20%;
  left: 0%;
  top: 80%;
  background: url(./img/abstract-121.png) no-repeat;
  background-size: contain;
  object-fit: cover;
  image-resolution: 100% 100%;
}

.linkb {
  position: absolute;
  top: 91%;
  left: 33%;
}

.nk3 {
  position: absolute;
  height: 20%;
  width: 20%;
  left: 90%;
  top: 0%;
  background: url(./img/abstract-165.png) no-repeat;
  background-size: contain;
  object-fit: cover;
  image-resolution: 100% 100%;
}

.frg {
  position: relative;
  left: 85px;
  top: 7px;
  height: 20px;
  font-size: 15px;
  justify-content: center;
}

.ogb {
  width: 300px;
}

.facebook {
  position: absolute;
}

.gilaki {
  position: absolute;
  left: 8%;
  top: 20%;
  color: #87b0c6;
  width: 300px;
}

.navbar {
  height: 60px;
  width: 100%;
}

.welcome {
  position: absolute;
  top: 27%;
  color: #87b0c6;
  left: 17%;
  font-size: 35px;
  justify-content: center;
  z-index: 3;
}

.texth3 {
  width: 300px;
  font-size: 20px;
}

#liso {
  background-color: var(--solo-color);
  background-image: var(--color);
  background-size: 200%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.modd {
  border: none;
}

.oo {
  margin-right: 5px;
}

.errorrr {
  position: absolute;
  top: 20%;
  left: 66%;
  max-width: 300px;
}

.logo {
  position: absolute;
  background-image: var(--color);
  -webkit-mask: url(./img/group_32.png) no-repeat;
  mask: url(./img/group_32.png) no-repeat;
  mask-size: 50%;
  background-size: contain;
  height: 20%;
  width: 20%;
  left: 6%;
  top: 2%;
  object-fit: cover;
  image-resolution: 50px 50px;
  z-index: 10;
}

.banner {
  position: absolute;
  background: url(./img/jojo.png) no-repeat;
  background-size: contain;
  object-fit: cover;
  height: 500px;
  width: 500px;
  top: 30%;
  left: 7%;

  z-index: 1;
}

.login {
  padding: 30px;
  position: absolute;
  left: 64%;
  top: 15%;
  color: #87b0c6;
  border-radius: 20px;
  height: 50%;
  box-shadow: 5px 5px 15px -5px rgb(148, 147, 147);
  background-color: #ffffff;
}

.line {
  position: absolute;
  left: 76%;
  top: 68%;
  color: #babec7;
}

.check {
  font-size: 15px;
  width: 300px;
  color: #5a89a3;
}
@keyframes all {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.all {
  animation: all 0.2s;
  transition: 0.2s ease-in-out;
  transform: 1s;
}

.registerf {
  position: absolute;
  top: 74%;
  left: 64%;
  height: 20%;
  width: 360px;
  border-radius: 20px;

  box-shadow: 5px 5px 15px -5px rgb(148, 147, 147);
  background-color: #ffffff;
}
.an {
  position: absolute;
  left: -5%;
  height: 80%;
  width: 80%;
}
